@import 'tailwindcss';

@theme {
    --color-components: #151614;
    --color-border-yellow: #C5A146;
    --color-border-gray: #4C4C4C;
    --color-text-y: #D4AF37;
    --color-dark-light: #232323;
    --color-border-dark: #303030;
    --color-slot: #252323;
}

body {
    margin: 0 ;
    background-color: #232323;
    font-family: "MedievalSharp";
    
}


.bg-slot-transparent {
    background-color: #252323a9;
}